
RewriteEngine On

Options -Indexes

RewriteRule ^pacientes/([0-9]+)$ pacientes.php?id=$1
RewriteRule ^pacientes/list$ pacientes.php?page=$1

# remove ext .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# remove ext .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# Rewrite index is not file exist and directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ index.php?url=$1 [R=301,L]

ErrorDocument 404 /error-msg.php
ErrorDocument 500 /error-msg.php
ErrorDocument 400 /error-msg.php
ErrorDocument 401 /error-msg.php
ErrorDocument 403 /error-msg.php

<Files .htaccess>
Order allow,deny
Deny from all
</Files>

<Files config_dev>
Order allow,deny
Deny from all
</Files>

<Files config_pdn>
Order allow,deny
Deny from all
</Files>

<Files Connection.php>
Order allow,deny
Deny from all
</Files>

<Files Process.php>
Order allow,deny
Deny from all
</Files>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif A432000
	ExpiresByType image/jpg A432000
	ExpiresByType image/jpeg A432000
	ExpiresByType image/png A432000
	ExpiresByType image/ico A432000
	ExpiresByType image/bmp A432000
	ExpiresByType text/css A432000
	ExpiresByType text/javascript A432000
	ExpiresByType application/javascript A432000
	ExpiresByType application/x-javascript A432000
</IfModule>