
RewriteEngine On

Options -Indexes
Options All -Indexes

#Rules for patients object
#Get
RewriteRule ^pacientes/([0-9]+)$ view/pacientes.php?id=$1
RewriteRule ^pacientes/list$ view/pacientes.php?page=1
#Post, put, delete
RewriteRule ^pacientes$ view/pacientes.php


# remove ext .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# remove ext .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# Rewrite index is not file exits and directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ index.php?url=$1 [R=301,L]

<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Restricted access to files
<FilesMatch "((\.(lock|cache|db))|CHANGELOG.md|README.md|^(.*\.config|.*\.example)(.*?))$">
	# Apache < 2.3
	<IfModule !mod_authz_core.c>
		Order allow,deny
		Deny from all
		Satisfy All
	</IfModule>

	# Apache ≥ 2.3
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
</FilesMatch>
