
RewriteEngine On

Options -Indexes

#Rules for patients object
#Get
RewriteRule ^pacientes/([0-9]+)$ patients/pacientes.php?id=$1
RewriteRule ^pacientes/list$ patients/pacientes.php?page=$1
#Post, put, delete
RewriteRule ^pacientes$ patients/pacientes.php


# remove ext .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# remove ext .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# Rewrite index is not file exits and directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ index.php?url=$1 [R=301,L]

<Files .htaccess>
Order allow,deny
Deny from all
</Files>

