# Set the Time Zone of your Server
SetEnv TZ America/Bogota

RewriteEngine On

ErrorDocument 404 /vitriapp/services/error-msg.php
ErrorDocument 500 /vitriapp/services/error-msg.php
ErrorDocument 400 /vitriapp/services/error-msg.php
ErrorDocument 401 /vitriapp/services/error-msg.php
ErrorDocument 403 /vitriapp/services/error-msg.php

# Servir contenidos de tipo text/plain o text/html usando la codificación UTF-8
AddDefaultCharset utf-8

# PHP error handling for production servers
# Disable display of start up errors
php_flag display_startup_errors off

# Disable display of all other errors
php_flag display_errors off

# Disable HTML markup of errors
php_flag html_errors off

# Enable logging of errors
php_flag log_errors on

# Disable ignoring of repeat errors
php_flag ignore_repeated_errors off

# Disable ignoring of unique source errors
php_flag ignore_repeated_source off

# Enable logging of PHP memory leaks
php_flag report_memleaks on

# Preserve most recent error via php_errormsg
php_flag track_errors on

# Disable formatting of error reference links
php_value docref_root 0

# Disable formatting of error reference links
php_value docref_ext 0

# Specify path to PHP error log
php_value error_log /vitriapp/services/v1/error/PHP_errors.log
# Specify recording of all PHP errors
# [see footnote 3] # php_value error_reporting 999999999
php_value error_reporting -1

# Disable max error string length
php_value log_errors_max_len 0

Options -Indexes
Options All -Indexes


#Rules for patients object
#Get
RewriteRule ^pacientes/([0-9]+)$ view/views.php?id=$1
RewriteRule ^pacientes/list$ view/views.php?page=1
#Post, put, delete
RewriteRule ^pacientes$ view/views.php

#Rules for dates object
#Get
RewriteRule ^citas/([0-9]+)$ view/views.php?id=$1
RewriteRule ^citas/list$ view/views.php?page=1
#Post, put, delete
RewriteRule ^citas$ view/views.php


# remove ext .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# remove ext .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

# Rewrite index is not file exits and directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ index.php?url=$1 [R=301,L]

<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Protect error log by preventing public access
<Files PHP_errors.log>
 Order allow,deny
 Deny from all
 Satisfy All
</Files>

# Restricted access to files
<FilesMatch "((\.(lock|cache|db))|CHANGELOG.md|README.md|^(.*\.config|.*\.example)(.*?))$">
	# Apache < 2.3
	<IfModule !mod_authz_core.c>
		Order allow,deny
		Deny from all
		Satisfy All
	</IfModule>

	# Apache ≥ 2.3
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
</FilesMatch>
